html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    margin: 0px;
}



/* ---------------------------Empieza el menu-------------------------------------*/

.fondo-header { /* Color del header*/
    background-color: rgb(255, 255, 255);
}

.tamaño { /* Tamano central de toda la pagina */
    max-width: 110rem;  /* Siempre poner max-with porque si no la pagina fuerza la medida aunque sea en celular */
    margin: 0 auto;
}



.menu { /* Nav menu */
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.menu-izq {  
    display: flex;
   
}

.menu-izq img  {     /* Tamano imagen del menu */
    width: 5rem;
    height: 100%;
}

.menu-der {         /* Enlaces de opciones */
    display: flex;
    
}



.menu a {          /* Todos los enlaces dentro del div tienen estas propiedades */
        text-decoration: none;
        padding: 2rem;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;  /* Este solo se nota en el responsive */
        
}

@media (max-width: 720px ) {
    .menu {
        flex-direction: column;
        align-items: normal; /* Para que los enlaces abarquen todo horizontalmente */
        
    }
    .menu-izq, 
    .menu-der, 
    .menu a {
        flex-direction: column;
        
    }
    
    
  }

  
.menu a:hover {
        color: rgb(45, 160, 214);
        text-decoration: underline;
        text-underline-offset: 1rem;

}

/* ---------------------------Termina el menu-------------------------------------*/

.hero {
    background-image: url(img/dentista.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 40rem;
    background-position: center;
    position: relative;

}


.overlay {
    position: absolute;
    background-color: rgba(135, 135, 135, 0.4); /* Fondo semitransparente */
    width: 100%;
    height: 100%;
}

.contenido-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    color: rgb(255, 255, 255); /* Asegúrate que el color del texto es negro */
}

.contenido-hero p {
    margin: 0;;
}
.contenido-hero h1,
.contenido-hero h2 {
    margin: 1rem;
   
  
}











/* ---------------------------Empieza el main-------------------------------------*/

.fondo-main { 
    background-color: rgb(255, 255, 255);
}

.Portada {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    margin-top: 4rem;
    /* Se estiliza los bordes de mi portada */
    -webkit-box-shadow: 0px 0px 44px -21px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 44px -21px rgba(0,0,0,1);
    box-shadow: 0px 0px 44px -21px rgba(0,0,0,1);
    border-radius: 5rem;
}

/* ---Section de portada---*/

.Texto-portada {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Por defecto alinea horizontalmente pero con flex-direcction alinea verticalmente*/
        margin: 0 auto;
    
         

}

.Imagen-portada img{
    border-radius: 1rem;
    width: 50rem;
    height: 100%;
}


@media (max-width: 720px ) {
    .Portada {
        flex-direction: column;
        align-items: center;
    }
     
  }

  /* ---Termina section de portada---*/





  /* -------------------------------------------------------------------------------*/
  /* ---------------------------Inicio de sesion------------------------------------*/
  /* -------------------------------------------------------------------------------*/
 


  
.contenedor-sesion {
    background-color: rgb(255, 255, 255);
    height: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    
}

.contorno {
    display: flex;
    background-color: #f1f1f1;
    padding: 5rem;
    border-radius: 5%;


    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

 .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;


 }

 .formulario button,
 .formulario input {
   margin: 2rem;
    
 }


 

 .boton {
	box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:26px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 51px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.boton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.boton:active {
	position:relative;
	top:1px;
}


.input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.img-sesion img{
  width: 18rem;
  margin-left: 10rem;
   
}




@media (max-width: 720px ) { 
    .img-sesion img{
        display: none;
        
    }
     
  }